h1 {
    font-family: "Georgia", serif;
    font-size: 50px;
}

h2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}

#shoppoing_cart {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;

}
.btn-circle:active{
    background: #007299;
    box-shadow: none;
}
.btn-circle:focus, .btn-circle:active:focus, .btn-circle.active:focus {
    outline: 0 none;
}

.btn-circle:hover, .btn-circle:focus, .btn-circle:active, .btn-circle.active, .open > .dropdown-toggle.btn-circle {
    background: forestgreen;
}

#reviewContainer{
    widht:100%;
    margin: auto;
}