/**
 * Title: _config.scss
 * Author: Andrew Sanchez
 * Date Created: 11/2/2017
 * Description: This file will contain vars, fonts, Mix-ins, and other
 * Easy to reference tools
 */

/* Vars */

/*Mix-ins*/
@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: $e;
  -moz-transition: $e;
  transition: $e;
}

/*Fonts*/
body {
  font-size: 18px;
  color: black;
  font-weight: 400;
  font-style: normal;
}

/*a {
  text-decoration: none;
  @include transition(.4s ease-in-out);
  cursor: pointer;

  &.hover {
    color: cadetblue;
    @include transition(.4s ease-in-out);
  }
}*/


.container-fluid {
  line-height: 24px;
}

.pbj-follower {
  position:fixed;
  pointer-events:none;
  padding:0px;
  transition: top 0.5s ease-in-out,left 0.5s ease-in-out;
  z-index:1000;
  // animation-name: rotate; 
  // animation-duration: 2s; 
  // animation-iteration-count: infinite;
  // animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}


