#RPh1 {
    font-family: "Georgia", serif;
    font-size: 50px;
    text-align: center;
}

#RPh1Name{
    font-family: "Georgia", serif;
    font-size: 45px;
    text-align: center;
}

#RPh2{
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
}

#shoppoing_cart {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;

}
.btn-circle:active{
    background: #007299;
    box-shadow: none;
}
.btn-circle:focus, .btn-circle:active:focus, .btn-circle.active:focus {
    outline: 0 none;
}

.btn-circle:hover, .btn-circle:focus, .btn-circle:active, .btn-circle.active, .open > .dropdown-toggle.btn-circle {
    background: forestgreen;
}

#reviewContainer{
    width:100%;
    margin: auto;
}

#forksize{
    padding-right: 1.0em;
}

.CarouselSize{
    height: 500px;
    width:800px;
    border-radius: 25px;
}

.CarouselSize img{
    border-radius: 25px;
    height: 500px;
    width:800px;
}

.Ingredient h2{
    padding: 0px 50px;
    /* margin: auto;*/
}

.Direction{
    padding: 10px 50px;
}

.row-height-for-time{
    padding-bottom: 200px
}

.Ingredient .list-group-item{
    background-color:#ffffff;
}

.directionstyle .list-group-item{
    background-color:#ffffff;
}