/**
 * Title: _shoppinglist.scss
 * Author: Alexander Haggart
 * Date Created: 12/2/2017
 * Description: shopping list custom css
 */

.spaced{
    margin-top:5px;
    transition: margin 0.1s linear,content 0.1s linear;
}

.removing{
    opacity:0;
}