@import "_config.scss";
@import "_search.scss";

/* ruleset for all jumbotrons across website */
.jumbotron {
  text-align: center;
  margin-top: -150px;
  overflow: hidden;
  border-style: solid;
  border: 10px 10px 10px 10px;
  height: 180px;
  /*background-image: url(https://i.ytimg.com/vi/mEBFswpYms4/maxresdefault.jpg);*/

  /* text inside jumbotron */
  h1 {
    font-size: 60px;
    font-family: 'Lobster';
  }
}

/* little icon that opens nav bar, will have to be 
 * adjusted as we change the img */
.ks-icon {
  overflow: hidden;
  max-height: 200px;
  max-width: 200px;

  margin-top: -40px;
  margin-left: -30px;
  margin-bottom: -10px;
}

/* actual nav bar menu */
.navbar-menu {
  z-index: 100;
  height: 100%;
  background: black;
  color: white;

  ul, li {
    list-style-type: none;
    margin-left: 10px;
    padding: 0px;
  }

  a {
    color: white;
    font-size: 25px;
  }

  .first {
    margin-top: 30px;
  }
}

.header {
  position: relative;
  display: block;
  width: 100%;
  background: black;
  color: white;

  .logo {
    position: absolute;
    top: 50%; left: 15px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 19px;
        line-height: normal;
        color: white;
      }
    }
  }
}

body {
  #Kitchen-Tabs{
    
    /** pushes kitchen tabs a little bit up i guess **/
    margin-top: -100px;
    overflow: hidden;

    position: relative;
    display: inline-block ;
    list-style-type: none;
    background: powderblue;
    width: 100%;
    

    #pantry{
      display: inline-block;
      margin: 10px;
      color: dimgray;
      cursor: pointer;
    }

    #cookware{
      display: inline-block;
      margin: 10px;
      color: dimgray;
      cursor: pointer;
    }

    #exclude{
      display: inline-block;
      margin: 10px;
      color: dimgray;
      cursor: pointer;
    }
  }

  #Kitchen-Content{
    display: block;
    vertical-align: middle;
    align-content: center;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    #gap{
      margin-top:30px;
    }

    #add{
      cursor: pointer;
      background: powderblue;
      color: green;
      font-weight: bold;
    }

    #remove{
      position: absolute;
      right: 0px;
      bottom: 0px;
      top:0px;
      cursor: pointer;
      color: red;
      background: powderblue;
      font-weight: bold;
    }

  }

}