@import "_config.scss";

header {
  position: relative;
  display: block;
  width: 100%;
  background: black;
  color: white;

  .logo {
    position: absolute;
    top: 50%; left: 15px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%; right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 10px;

      &.last {
        margin: 0;
      }

      a {
        font-size: 19px;
        line-height: normal;
        color: white;
      }
    }
  }
}

body {
  #Kitchen-Tabs{
    position: relative;
    display: inline-block ;
    list-style-type: none;
    background: powderblue;
    width: 100%;

    #pantry{
      display: inline-block;
      margin: 10px;
      color: dimgrey;
      cursor: pointer;
    }

    #cookware{
      display: inline-block;
      margin: 10px;
      color: dimgrey;
      cursor: pointer;
    }

    #exclude{
      display: inline-block;
      margin: 10px;
      color: dimgrey;
      cursor: pointer;
    }
  }

  #Kitchen-Content{
    display: block;
    vertical-align: middle;
    align-content: center;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    #gap{
      margin-top:30px;
    }

    #add{
      cursor: pointer;
      background: powderblue;
      color: green;
      font-weight: bold;
    }

    #remove{
      position: absolute;
      right: 0px;
      bottom: 0px;
      top:0px;
      cursor: pointer;
      color: red;
      background: powderblue;
      font-weight: bold;
    }

  }

}