@import "_config.scss";
@import "_search.scss";
@import "_homepage.scss";
@import "_shoppinglist.scss";

.modal-backdrop {
  z-index: 90;
}

.modal{
  display: block;
}

.fun-button {
  position: fixed;
  bottom: 0;
}


/* ruleset for all jumbotrons across website*/
.jumbotron {
  //background: #1d1f21;
  //color: white;
  text-align: center;
  margin-top: -180px;
  overflow: hidden;
  height: 180px;
  color: white;
  text-shadow: 3px 3px black;

  //background-image: url("https://www.kitchfix.com/media/wysiwyg/Banner-Desktop_2880x838_.jpg");
  //background-image: url("http://www.freshpoint.com/wp-content/uploads/banner-see-what-we-can-do1.jpg");
  background-image: url("https://visitindianrivercounty.com/wp-content/uploads/2015/12/iStock_76355911_LARGE.jpg");
  background-size: cover;

}

.navbar-icon {
  height: 150px;
}

/* little icon that opens nav bar, will have to be
/* little icon that opens nav bar, will have to be
 * adjusted as we change the img */
.ks-icon {
  overflow: hidden;
  max-height: 180px;
  max-width: 180px;

  margin-top: -30px;
}

.navbar {
  padding: 0;
  width: auto;
}

/* actual nav bar menu */
.navbar-menu {
  z-index: 100;
  height: 100%;
  width: 80%;
  background: black;
  color: white;
  border-right: solid 1px #e0eff9;


  ul, li {
    list-style-type: none;
    //margin-left: 10px;
    //margin-right: 0;
    padding: 0px;
    width: auto;
    margin: 0 0 0 10px;

  }

  ul {
    margin-right: 0;
    width: 75%;
  }

  a {
    color: white;
    font-size: 25px;

    &:hover {
      //color: #e0eff9;
      color: lightgrey;
      margin-left: 2px;
      text-decoration: none;
    }
  }

  .first {
    margin-top: 30px;
  }
}


.nav {
  display: inline-block;
}

.recipes{
  margin-bottom: 15px;
  margin-right: -15px;
}

.preview-card-button{
  font-size:50%;
}

.navbar-icon {
  width: 20%;
}

.search-thumbnail {
  margin: 0 0 0 0;
  padding-top: 20px;
  
  background: #e5e5e5;
  border: solid 4px white;
  border-radius: 15px;

  position: relative;
  height: auto;

  .btn-dark {
    border: solid 1px #e5e5e5;
  }

  /* Must match thumbnail background with btn-dark border color */
}

.search-results {
  padding-top: 10px
}

.thumbnail-buttons {
  float: bottom;
  padding-top: 10px;
  position: relative;
}

.card-body {
  padding-top: 0;
}

.foodpic {
  border: solid 2px black;
  object-fit: cover;
  min-width: 100%;
  min-height: 400px;
  max-height: 400px;
}

.modal-foodpic {
  border: solid 2px black;
}

.carousel-item {
  height: 250px;

}


#pantry-node{

  font-size: 15px;
  text-align: center;
  margin-top:5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#Modal1{
  z-index: 110;
  float: right;
  margin-left: 5px;
}

#Modal2{
  z-index: 110;
  float:right;
  margin-right: 5px;
}

#content{
    padding: -30px 15px;
    border: none;
    border-top: 0;
    border-bottom-right-radius: -4px;
    border-bottom-left-radius: -4px;
}


.planner-hover:hover{
  border:solid 1px black;
  cursor:pointer;
}

.padding-down{
  padding-bottom:100px;
}

.comment-button{
  margin-top:5px;
}

.rating-component{
  font-size:20px;
}

.preview-buttons{
  width:100%;
}

.amount-input{
  max-width:50px;
}

.form-list-spacer{
  margin-bottom:5px;
}